@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html {
    font-family: 'Inter', cursive;
}

header {
    background-color: #fff;
    font-size: 20;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20;
}

main {
    min-height: 100vh;
    padding: 16px;
    border-bottom: 10px;
    background-color: #F0F9F9;
    border-color: #F0F9F9;
}

footer {
    background-color: #fff;
    padding: 16px;
    height: 16px;
    bottom: 16px;
    font-size: 13;
    color: black;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
    padding: 16px;
}

img {
    height: 200px;
}

#main-link {
    color: black;
    font-size: 25;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a {
    text-decoration: 0px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 20;
}

thead > tr > th {
    border-bottom: 1px solid black;
}

th {
    text-align: center;
}

td {
    padding: 0px 10px;
    text-align: center;
}


.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
}

.recipe-grid div {
    justify-self: center;
}

table > tbody > tr:nth-child(even) {
    background-color: lightgray;
}

.list_parent {
    text-align: center;
}

ol{
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}


.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-img:hover {
    transform: scale(1.1)
}

.recipe-img {
    transition: transform 0.1s ease-in
}

.recipe-page-img {
    margin: auto;
    display: block;
}
